body{
	background: white;
	font-family: No Sugar;
	font-size: 175%;
	margin: 75px;
	text-align: center;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=86776) auto;
	}
	

.grid {
		display: grid;
        grid-gap: 20px;
        grid-template-columns: 22% 22% 23% 22%;
        background-color: white;
        color: #444;
    }

    .box {
        background-color: #509646;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .a {
        grid-column: 1 / span 2;
    }
    .b {
        grid-column: 3 / span 2;
	}
    .d {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #509646;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #A6D491;
}
marquee{
	color: #D47F99;
	direction: left;
	font-size: 40px;
	}
@font-face {
    font-family: "Pentay";
    src: url("Pentay-Book-ffp.ttf");
}
@font-face {
    font-family: "Froggie";
    src: url("Mister Frogie Regular.otf");
}
@font-face {
    font-family: "No Sugar";
    src: url("No Added Sugar.otf");
}

li a:hover {
    background-color: #A6D491;